@import './App.scss';

.LoginModal {
    position: absolute;
    width: 300px;
    height: 210px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-self: center;
    top: 75px;
    background-color: $theme-orange;
    font-size: 16px;

    >._title {
        padding: 16px;
        text-transform: uppercase;
        margin: 0 auto;
    }

    >._form {
        display: flex;
        flex-direction: column;

        >._input {
            width: 150px;
            margin: 0 auto;
            padding: 4px;
            margin-bottom: 16px;
        }
    }

    >._close-btn {
        width: 45px;
        border: solid black;
        padding: 4px;
        align-self: flex-end;
        margin-right: 10px;
        cursor: pointer;
    }

    >._close-btn:hover {
        background-color: red;
    }

    
}

.none {
    display: none;
}
