@import './App.scss';

.Nav {
    width: 100vw;
    padding: 16px;
    border-bottom: solid black;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    background-color: $theme-orange;
    font-family: 'Raleway';

    >._logo-container {

        >._logo {
            height: 32px;
        }
        

    }
    >._logo-container:hover {
        cursor: pointer
    }

    >._lr-container {
        padding-right: 32px;
        display: flex;
        padding-top: 6px;
       

        >._signInSwitch {
            cursor: pointer;
            padding-left: 16px;
            text-decoration: none;
        }

        >._register {
            padding-right: 10px;
        }

        >._logout {
            padding-right: 10px;
            color: black;
        }

        >._logout:hover {
            color: white;
        }
    }
}

.none {
    display: none;
}

