.Home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-family: 'Raleway';

    >._main {
        position: relative;
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }
}